### Ayush Adhikari, Kuan-Chun Chiu (Derek Chiu)
### Prof. Fuentes-Cabrera
### DS 4400 Machine Learning and Data Mining 1
### 2025/03/27

#### Purpose of the file:
The purpose of this file is to process and clean the dataset, making the data ready for use in machine learning, visualization, and analysis. The cleaned dataset will be saved to another csv file, which will be used for future work and be uploaded to the project repository on GitHub as well.

In [3]:
# Import all needed libraries

import numpy as np
import pandas as pd

In [35]:
# Load the dataset into a data frame

house_price_df = pd.read_csv("HousePricePrediction.csv")
print (f"Shape of the data frame: {house_price_df.shape}\n")
house_price_df.head()

Shape of the data frame: (2919, 13)

,Id,MSSubClass,MSZoning,LotArea,LotConfig,BldgType,OverallCond,YearBuilt,YearRemodAdd,Exterior1st,BsmtFinSF2,TotalBsmtSF,SalePrice
0,0,60,RL,8450,Inside,1Fam,5,2003,2003,VinylSd,0.0,856.0,208500.0
1,1,20,RL,9600,FR2,1Fam,8,1976,1976,MetalSd,0.0,1262.0,181500.0
2,2,60,RL,11250,Inside,1Fam,5,2001,2002,VinylSd,0.0,920.0,223500.0
3,3,70,RL,9550,Corner,1Fam,5,1915,1970,Wd Sdng,0.0,756.0,140000.0
4,4,60,RL,14260,FR2,1Fam,5,2000,2000,VinylSd,0.0,1145.0,250000.0

In [36]:
# Remove all rows with one or more NaN entries

house_price_df.dropna(inplace=True)
print (f"Shape of the data frame after dropping rows containing NaN entries: {house_price_df.shape}\n")

Shape of the data frame after dropping rows containing NaN entries: (1460, 13)

In [37]:
# Reset the Id column

house_price_df["Id"] = range(1, house_price_df.shape[0]+1)
house_price_df

,Id,MSSubClass,MSZoning,LotArea,LotConfig,BldgType,OverallCond,YearBuilt,YearRemodAdd,Exterior1st,BsmtFinSF2,TotalBsmtSF,SalePrice
0,1,60,RL,8450,Inside,1Fam,5,2003,2003,VinylSd,0.0,856.0,208500.0
1,2,20,RL,9600,FR2,1Fam,8,1976,1976,MetalSd,0.0,1262.0,181500.0
2,3,60,RL,11250,Inside,1Fam,5,2001,2002,VinylSd,0.0,920.0,223500.0
3,4,70,RL,9550,Corner,1Fam,5,1915,1970,Wd Sdng,0.0,756.0,140000.0
4,5,60,RL,14260,FR2,1Fam,5,2000,2000,VinylSd,0.0,1145.0,250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,7917,Inside,1Fam,5,1999,2000,VinylSd,0.0,953.0,175000.0
1456,1457,20,RL,13175,Inside,1Fam,6,1978,1988,Plywood,163.0,1542.0,210000.0
1457,1458,70,RL,9042,Inside,1Fam,9,1941,2006,CemntBd,0.0,1152.0,266500.0
1458,1459,20,RL,9717,Inside,1Fam,6,1950,1996,MetalSd,1029.0,1078.0,142125.0
1459,1460,20,RL,9937,Inside,1Fam,6,1965,1965,HdBoard,290.0,1256.0,147500.0

In [38]:
# Remove irrelevant columns

irrelevant_columns = ["MSZoning", "Exterior1st", "BsmtFinSF2", "YearRemodAdd"]
house_price_df.drop(irrelevant_columns, axis=1, inplace=True)
house_price_df.head()

,Id,MSSubClass,LotArea,LotConfig,BldgType,OverallCond,YearBuilt,TotalBsmtSF,SalePrice
0,1,60,8450,Inside,1Fam,5,2003,856.0,208500.0
1,2,20,9600,FR2,1Fam,8,1976,1262.0,181500.0
2,3,60,11250,Inside,1Fam,5,2001,920.0,223500.0
3,4,70,9550,Corner,1Fam,5,1915,756.0,140000.0
4,5,60,14260,FR2,1Fam,5,2000,1145.0,250000.0

In [39]:
# Use one-hot encoding to trnsform categorical features into numerical features

categorical_columns = ["LotConfig", "BldgType"]
house_price_df = pd.get_dummies(house_price_df, columns=categorical_columns, drop_first=True, dtype=float)
print (f"Shape of the data frame after one-hot encoding: {house_price_df.shape}\n")
house_price_df.head()

Shape of the data frame after one-hot encoding: (1460, 15)

,Id,MSSubClass,LotArea,OverallCond,YearBuilt,TotalBsmtSF,SalePrice,LotConfig_CulDSac,LotConfig_FR2,LotConfig_FR3,LotConfig_Inside,BldgType_2fmCon,BldgType_Duplex,BldgType_Twnhs,BldgType_TwnhsE
0,1,60,8450,5,2003,856.0,208500.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,2,20,9600,8,1976,1262.0,181500.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,60,11250,5,2001,920.0,223500.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,4,70,9550,5,1915,756.0,140000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,60,14260,5,2000,1145.0,250000.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [44]:
# Save the cleaned data frame into a new csv file

house_price_df.to_csv("Cleaned_house_price.csv", index=False)